/** ===== Offcanvas ===== **/
.noxfolio-offcanvas-wrapper
	position: fixed
	left: 0
	top: 0
	width: 100vw
	height: 100vh
	z-index: 9999
	display: flex
	justify-content: flex-end
	transition: all 0.3s linear 0.15s

	.offcanvas-overly
		position: fixed
		left: 0
		top: 0
		width: 100%
		height: 100%
		z-index: 1
		background: rgba(0, 0, 0, 0.7)
		cursor: pointer
		transition: all 0.3s linear 0.15s

	.offcanvas-container
		position: relative
		z-index: 2
		max-width: 100%
		height: 100%
		overflow: hidden
		width: 420px
		+bgcolor(dark-light)
		transition: all 0.3s linear 0.15s
		overflow-y: scroll

		&::-webkit-scrollbar
			width: 0

		.offcanvas-close
			position: absolute
			left: 0
			top: 0
			width: 45px
			height: 45px
			display: flex
			align-items: center
			justify-content: center
			font-size: 18px
			transition: 0.3s
			cursor: pointer
			+color(primary)
			+bgcolor(dark)
			z-index: 2

.admin-bar .noxfolio-offcanvas-wrapper
	top: 32px

	@media screen and (max-width: 782px)
		top: 46px

.noxfolio-offcanvas
	.offcanvas-toggle-wrapper
		display: flex

	.offcanvas-toggle
		display: inline-flex
		align-items: center
		justify-content: center
		cursor: pointer
		transition: 0.3s

		&.line-icon
			+createbox(50px, 50px, true, false)
			+bgcolor(primary)

			.toggle-inner
				display: flex
				flex-direction: column
				width: 23px

				span
					width: 20px
					height: 2px
					+bgcolor(dark)
					transition: 0.3s

					&:nth-child(1),
					&:nth-child(3)
						margin-left: auto

					&:nth-child(2)
						margin: 5px 0

			&:hover .toggle-inner
				span
					width: 100%

		&.line-icon-two
			+createbox(50px, 50px, true, false)
			border: 1px solid getColor(border)

			.toggle-inner
				display: flex
				flex-direction: column
				width: 22px

				span
					width: 16px
					height: 2px
					+bgcolor(white)
					transition: 0.3s

					&:nth-child(1),
					&:nth-child(3)
						margin-left: auto

					&:nth-child(2)
						width: 100%
						margin: 5px 0

			&:hover .toggle-inner
				span
					width: 100%

		&.toggle-button
			position: relative
			z-index: 1
			+fprimary(16px, 700)
			line-height: 1.25
			text-transform: capitalize
			text-decoration: none
			border: none
			border-radius: 0
			+color(dark)
			+bgcolor(primary)
			overflow: hidden
			padding: 15px 30px
			transition: 0.3s
			--icon-spacing: 10px

			.fas
				+ffw( "Font Awesome 5 Pro", 400 )

			&.icon-left
				flex-direction: row-reverse

				.button-icon
					margin-right: var(--icon-spacing)

			&.icon-right
				.button-icon
					margin-left: var(--icon-spacing)

			&:hover
				+color(white)
				+bgcolor(dark)

	.noxfolio-offcanvas-wrapper
		z-index: 0
		visibility: hidden

		.offcanvas-container
			transform: translateX(100%)
			opacity: 0
			visibility: hidden

		.offcanvas-overly
			opacity: 0
			visibility: hidden

		&.offcanvas-left
			justify-content: flex-start

			.offcanvas-close
				left: auto
				right: 0

			.offcanvas-container
				transform: translateX(-100%)

		&.show-offcanvas
			z-index: 9999
			visibility: visible

			.offcanvas-container
				transform: translateX(0)
				opacity: 1
				visibility: visible

			.offcanvas-overly
				opacity: 1
				visibility: visible
