/** ===== Site Preloader ===== **/
.site-preloader
	position: fixed
	top: 0
	left: 0
	width: 100vw
	height: 100vh
	z-index: 999999
	display: flex
	justify-content: center
	align-items: center

	.animation-preloader
		position: absolute
		z-index: 1000

		.spinner
			animation: preloader-spinner 1s infinite linear
			border-radius: 50%
			border: 3px solid rgba(255, 255, 255, 0.2)
			border-top-color: getColor(primary)
			height: 9em
			width: 9em
			margin: 0 auto 3em

			@include respond-below(md)
				width: 8em
				height: 8em

			@include respond-below(c480)
				width: 6em
				height: 6em

		.text-loading
			+fsecondary(4em, 700)
			line-height: 1
			display: flex
			justify-content: center
			user-select: none
			text-align: center

			@include respond-below(lg)
				font-size: 3.5em

			@include respond-below(md)
				font-size: 2.5em

			@include respond-below(c480)
				font-size: 1.8em

			.letters-loading
				color: rgba(255, 255, 255, 0.1)
				position: relative
				margin: 0 6px

				@include respond-below(md)
					margin: 0 4px

				&::before
					animation: preloader-letter-loading 4s infinite
					+color(headline)
					content: attr(data-text-preloader)
					left: 0
					opacity: 0
					position: absolute
					transform: rotateY(-90deg)

				&:nth-child(2)::before
					animation-delay: 0.2s

				&:nth-child(3)::before
					animation-delay: 0.4s

				&:nth-child(4)::before
					animation-delay: 0.6s

				&:nth-child(5)::before
					animation-delay: 0.8s

				&:nth-child(6)::before
					animation-delay: 1s

				&:nth-child(7)::before
					animation-delay: 1.2s

				&:nth-child(8)::before
					animation-delay: 1.4s

				&:nth-child(9)::before
					animation-delay: 1.6s

				&:nth-child(10)::before
					animation-delay: 1.8s

				&:nth-child(11)::before
					animation-delay: 2s

				&:nth-child(12)::before
					animation-delay: 2.2s

				&:nth-child(13)::before
					animation-delay: 2.4s

				&:nth-child(14)::before
					animation-delay: 2.6s

				&:nth-child(15)::before
					animation-delay: 2.8s

				&:nth-child(16)::before
					animation-delay: 3s

		.loading-text
			+fsw(15px, 500)
			line-height: 1
			text-align: center
			text-transform: uppercase
			letter-spacing: 8px
			+color(headline)
			margin: 1.5em 0 0

	.preloader-layer
		position: absolute
		top: 0
		width: 33.3333%
		height: 100%
		overflow: hidden

		&.layer-one
			left: 0

		&.layer-two
			left: 33.3333%

		&.layer-three
			left: 66.6666%

		.overly
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			+bgcolor(dark)
