/** ===== Animation CSS ===== **/
.animated
    animation-duration: 1s
    animation-fill-mode: both

.animated.hinge
    animation-duration: 2s

.fadeIn
    animation-name: fadeIn

.fadeInDown
    animation-name: fadeInDown

.fadeInLeft
    animation-name: fadeInLeft

.fadeInRight
    animation-name: fadeInRight

.fadeInUp
    animation-name: fadeInUp

.zoomIn
    animation-name: zoomIn

.zoomInDown
    animation-name: zoomInDown

.zoomInLeft
    animation-name: zoomInLeft

.zoomInRight
    animation-name: zoomInRight

.zoomInUp
    animation-name: zoomInUp

.bounce
    animation-name: bounce

.bounceIn
    animation-name: bounceIn

.bounceInDown
    animation-name: bounceInDown

.bounceInLeft
    animation-name: bounceInLeft

.bounceInRight
    animation-name: bounceInRight

.bounceInUp
    animation-name: bounceInUp

.slideInDown
    animation-name: slideInDown

.slideInLeft
    animation-name: slideInLeft

.slideInRight
    animation-name: slideInRight

.slideInUp
    animation-name: slideInUp

.rotateIn
    animation-name: rotateIn

.rotateInDownLeft
    animation-name: rotateInDownLeft

.rotateInDownRight
    animation-name: rotateInDownRight

.rotateInUpLeft
    animation-name: rotateInUpLeft

.rotateInUpRight
    animation-name: rotateInUpRight

.flash
    animation-name: flash

.pulse
    animation-name: pulse

.rubberBand
    animation-name: rubberBand

.shake
    animation-name: shake

.headShake
    animation-name: headShake

.swing
    animation-name: swing

.tada
    animation-name: tada

.wobble
    animation-name: wobble

.jello
    animation-name: jello

.lightSpeedIn
    animation-name: lightSpeedIn

.rollIn
    animation-name: rollIn