/** ===== Site Logo ===== **/
.noxfolio-site-logo
	+fsecondary(32px, 600)
	line-height: 1.35
	text-transform: capitalize

	a
		+color(headline)

		&:hover
			+color(primary)

		img
			max-width: 175px