/** ===== Comments Template ===== **/
.comments-area
	margin-top: 50px
	padding-top: 70px
	border-top: 1.2px solid getColor(border)

	.comment-respond
		.comment-reply-title
			+fsw(24px, 700)
			margin: 0 0 15px

			small
				font-size: 65%
				margin-left: 10px

		.comment-notes,
		.logged-in-as
			font-size: 14px

		.logged-in-as
			margin-bottom: 30px

		form
			display: flex
			flex-wrap: wrap

		p
			margin: 0

		.comment-notes
			order: -3
			display: block
			margin-bottom: 35px
			width: 100%

			@include respond-below(c480)
				font-size: 15px

			.required-field-message
				font-weight: 500

		.comment-form-comment,
		.comment-form-url,
		.comment-form-cookies-consent,
		.comment-form-author,
		.comment-form-email
			margin-bottom: 20px

		.comment-form-comment,
		.comment-form-url,
		.comment-form-cookies-consent
			flex: 0 0 100%

		.comment-form-author,
		.comment-form-email
			flex: 0 0 50%
			order: -2

			@include respond-below(c480)
				flex: 0 0 100%

		.comment-form-url
			order: -1

		.comment-form-author
			padding-right: 10px

			@include respond-below(c480)
				padding-right: 0

		.comment-form-email
			padding-left: 10px

			@include respond-below(c480)
				padding-left: 0

		.comment-form-cookies-consent
			display: flex
			align-items: center

			label
				+color(body)
				+fprimary(14px, 400)
				line-height: 1.6
				margin: 0 0 0 10px

	.comments-title
		+fsw(24px, 700)

	.comment-list
		margin: 0 0 70px
		padding: 0 0 70px
		list-style: none
		border-bottom: 1px solid getColor(border)

		li
			padding: 0
			margin: 0 0 50px

			&:last-child
				margin-bottom: 0

		.comment-respond
			margin-top: 50px

		.children
			padding: 0 0 0 50px
			margin: 50px 0 0 0
			list-style: none

		.comment-body
			display: flex
			gap: 25px

			@include respond-below( md )
				flex-direction: column
				gap: 30px

			.comment-avatar
				flex: 0 0 100px

				img
					border-radius: 50%

			.comment-content
				flex-grow: 1
				position: relative
				z-index: 1

			.comment-text
				p:last-of-type
					margin: 0

				img
					margin: 15px 0

				li
					margin-bottom: 10px
					padding: 0

			.name
				+fsecondary(18px, 500)
				line-height: 1.25
				display: flex
				align-items: center

				.date
					+color(primary)
					font-size: 15px
					line-height: 1
					position: relative
					top: 1px
					padding-left: 40px
					flex: 0 0 auto

					&::before
						content: ""
						+poLT(20px, 50%)
						transform: translate(-50%, -50%)
						+size(5px)
						border-radius: 50%
						+bgcolor(white)

			.comment-reply-link
				display: inline-flex
				align-items: center
				margin-top: 20px
				+color(white)
				+fsw(14px, 600)

				i
					margin-left: 8px

				&:hover
					+color(primary)

	.no-comments
		margin: 40px 0 0
		font-weight: 600
		+color(headline)