// Container Width
$container-width: var(--noxfolio-container-width)
$boxed-width: var(--noxfolio-boxed-width)

// Color
$colors: (primary: var(--noxfolio-primary-color), secondary: var(--noxfolio-secondary-color), body: var(--noxfolio-body-color), headline: var(--noxfolio-headline-color), border: var(--noxfolio-border-color), dark: var(--noxfolio-dark-color), dark-light: var(--noxfolio-dark-light-color), white: var(--noxfolio-white-color))

// Fonts
$fonts: (primary: var(--noxfolio-primary-font), secondary: var(--noxfolio-secondary-font))

// Breakpoints
$breakpoints: ( md: 768px, lg: 1025px, xl: 1201px, c480: 480px, c1350: 1350px, c1367: 1367px, c1400: 1400px )
